.services{
    background: -webkit-linear-gradient(#1F4520, #1D3E43);
    display:flex;
    flex-direction : column ;
    gap: 2rem;
    align-content: center;
    
    

}

.Topic{
    
    font: Sans;
    font-size: 45px;
    margin: 0 auto;
    /* textAlign: 'center', */
    color: white;
    margin: 0 auto;
  
}

.cards{
    background-color: -webkit-linear-gradient(#1F4520, #1D3E43);
    display: flex;
    flex-direction :row;
    gap: 30px;
    padding: 20px 100px;
    justify-content: center;

}

.header-text{
    height: 60px;
}

.card1{
    background-color: rgb(93, 125, 152);
    border-radius: 25px ;
    font-size: 23px;
    border: 3px solid rgb(4, 193, 223);
    
    /* background-color: -webkit-linear-gradient(#867f7f, #1D3E43) ; */
    width:35% ;
    height:400px;
    gap: 28 rem;

}
.Horizontal-line{
    width: 100%;
    height: 10px;
    background-color:white;
    margin: 0 auto;
   
}

.point1{
    gap: 14 rem;
}
.point1 p{
    font-size: 94;
}
/* .desc{
    display: flex;
    flex-direction: column;
    gap:14 rem;
    justify-content: center;
} */
.point1desc{
    display: flex;
    flex-direction: row;
    transform: translate(25%,0);
}
.card2{
    background-color: pink ;
    border-radius: 25px ;
    text-align: center;
    width:35%;
    height: 400px;
    gap: 28rem;
    font-size: 23px;
    border: 3px solid rgb(4, 193, 223);
    

}

.card3{
    background-color: skyblue;
    text-align: center;
    border-radius: 25px ;
    /* width:30%; */
    width: 30%;
    height: 400px;
    gap: 28 px;
    font-size: 23px;
    border: 3px solid rgb(4, 193, 223);
}

