.DiseaseDetection
{
    background: -webkit-linear-gradient(#1F4520, #1D3E43);
    display: flex;
    flex-direction: column;
    gap:3rem;
    align-items: center;
    justify-content:center ;
    width: 100%;
}

.PDD{
    width:70%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:4rem;
    /* border: 3px solid rgb(4, 193, 223);
    border-radius:1rem; */
    padding: 1rem;
        
}

.PDDLeft {
    display: flex;
    flex-direction: column;
    gap:3rem;
    align-items: center;
    border-radius: 30px;
    width: 155%;
}

.Heading1 p{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background: -webkit-linear-gradient(#ffffff, #80ACBA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 90%;
}

.im{ 
    align-items: center;
    justify-content: center;   
    display: flex;
    flex-direction: row;
    width: 154ox;
    height: 154px;
    justify-content: center;
}

.DDLeftimg{
    width: 154ox;
    height: 154px;
    justify-content: center;
}

.Description p{
    font-family: sans-serif;
    font-size: 26px;
    text-align: center;
    font-weight: lighter;
    background-color: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center;
    width: 90%;
    

}

.Ourteam {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(#ffffff, #80ACBA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* border: 3px solid rgb(4, 193, 223);
    border-radius:1rem; */
}

.Heading2 p{
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    background: -webkit-linear-gradient(#ffffff, #80ACBA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.MBody {
    backface-visibility: hidden;
    display: flex;
    flex-direction: row;
    gap:3rem;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 90%;
}


.Body {
    display: flex;
    flex-direction: column;
    gap:3rem;
    align-items: center;
    border-radius: 30px;
    width: 90%;
}

.Intro {
    display: flex;
    flex-direction: row;
    gap:3rem;
    align-items: center;
    border-radius: 30px;
    width: 90%;
}

.IntroD {
    display: flex;
    flex-direction: row;
    gap:3rem;
    align-items: center;
    border-radius: 30px;
    width: 80%;
}

.LIntroD p{
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    background-color: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.LIntroD h1{
    font-size: 26px;
    font-weight: bold;
    text-align: right;
    background-color: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.RIntroD p{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    background-color: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.RIntroD h1{
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    background-color: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.IntroP {
    align-items: center;
    border-radius: 30px;
    width: 20%;
}

.profile {
    width: 100px;
    height: 150px;
    justify-content: center;
    
}

.line{
    width: 11px;
    height: 340px;
    background-color: #D9D9D9;
}